h1{
    text-align: center;
    padding: 3.2%;
    margin: 0%;
    background-color: black;
    color: blue;
    font-size: 2.4em;
    font-weight: bolder;
}

#MenuTratamiento{
        text-align: center;
        margin-top: 0;
        padding-left: 0;
        background-color: blue;
        list-style-type: none;
    
        display: flex;
        justify-content: space-evenly;  
        align-items: center;
        flex-wrap: wrap;
        height: 40px;
    }
    

a{
    color: white;
    font-size: 1.6em;
    text-decoration: none;
    font-weight: bold;
}

header nav a:link, header nav a:visited {
    background-color: blue;
}





h2{
    color: blue;
    font-weight: 900;
    font-size: 2.1em;
    text-align: center;
}


h3{
    color: blue;
    font-weight: 900;
    font-size: 2.1em;
    text-align: center;
}

h4{
    color: blue;
    font-weight: 900;
    font-size: 2.1em;
    text-align: center;
}


mark{
    color: blue;
}

p {
    color: black;
    font-weight: 900;
    font-size: 1.3em;
    text-align:justify;
}

#traumatologia1{
    display:block;
    margin:auto;
    width: 40%;
}

#traumatologia2{
    display:block;
    margin:auto;
    width: 40%;
}

#traumatologia3{
    display:block;
margin:auto;
width: 40%;
}

.palabraimportante{
    color: blue;
    font-size: 1.0em;
}


small{
    color: white;
    font-size: 1.0em;
}

span {
    color: red;
    font-size: 1.0em;
}

figcaption{
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}

i{
    color: blue;
    font-size: 1.0em;
}


b{
    color: rgb(255, 0, 128);
    font-size: 1.0em
}

abbr{
    color: rgb(146, 9, 209);
    font-size: 1.0em;
}